<div #parent class="wrapper">
    <div class="content">
        <header class="hero-section">
            <img class="hero" src="../../assets/images/hero.png">
            <div class="container">
                <div data-speed=".6" class="main-header">
                    <h1 class="main-title">Rose Avenue</h1>
                </div>
            </div>
        </header>

        <div class="blog">
            <div class="container">
                <main class="gallery">
                    <div data-speed=".6" class="gallery__left">
                        <img id="images" class="gallery__item" src="../../assets/images/Rufus de sol.jpeg">
                        <img id="images" class="gallery__item" src="../../assets/images/rufus du sol 1.jpg">
                        <div class="text-block gallery__item">
                            <h2 class="text-block_h">ANYMA</h2>
                            <p class="text-block_p">Rose Avenue Records presents the newest signing, Matteo Milleri
                                from Tale of Us’ solo project, Anyma. Anyma is the new solo project that explores
                                and combines the world of digital art/extended reality along with Anyma’s artistic
                                individuality.
                            </p>
                        </div>
                        <img id="images" class="gallery__item" src="../../assets/images/anyma.jpeg">
                        <img id="images" class="gallery__item" src="../../assets/images/amelie_lens 3.jpeg">
                        <img id="images" class="gallery__item" src="../../assets/images/amelie_lens 1.jpeg">
                        <div id="images" class="text-block gallery__item">
                            <h2 class="text-block_h">MATHAME</h2>
                            <p class="text-block_p">Mathame is a DJ/Producer duo developed by italian brothers
                                Amedeo
                                and Matteo Giovanelli. It began in 2013, whilst they were living in a forest at the
                                slopes of Mount Etna, where they both worked crafting their unique sound.</p>
                        </div>
                        <img id="images" class="gallery__item" src="../../assets/images/mathame 3.jpeg">

                    </div>

                    <div data-speed="7" class="gallery__right">
                        <div class="text-block gallery__item">
                            <h2 class="text-block_h">RÜFÜS DU SOL</h2>
                            <p class="text-block_p">RÜFÜS DU SOL have emerged as one of the world’s preeminent live
                                electronic acts. The Australian three-piece, comprised of members Tyrone Lindqvist,
                                Jon George and James Hunt, have released two platinum-certified albums, ATLAS
                                andBloom, with their third album SOLACEushering in a new chapter for the trio.</p>
                        </div>
                        <img id="images" class="gallery__item" src="../../assets/images/rufus du sol 2.webp">
                        <img id="images" class="gallery__item" src="../../assets/images/anyma 2.jpeg">
                        <img id="images" class="gallery__item" src="../../assets/images/anyma 1.jpeg">
                        <div class="text-block gallery__item">
                            <h2 class="text-block_h">AMELIE LENS</h2>
                            <p class="text-block_p">Amelie Lens is taking the scene by storm ever since releasing
                                her solid debut EP on the Italian Lyase Recordings.
                                The title track Exhale quickly began living it’s own life as a very recognisable and
                                uptempo floorfiller. </p>
                        </div>
                        <img id="images" class="gallery__item" src="../../assets/images/amelie_lens 2.jpeg">
                        <img id="images" class="gallery__item" src="../../assets/images/mathame.jpeg">
                        <img id="images" class="gallery__item" src="../../assets/images/mathame 2.webp">
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>